<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dupre.stephen.channelmessagingdupres">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".login_Activity"
            android:theme="@style/home">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ChannelActivity" />
        <activity android:name=".ChannelListActivity" />
        <activity android:name=".activity_friends" />
        <activity android:name=".channels_list_row" />
        <activity android:name=".item_friend_layout" />
        <activity android:name=".row_message_layout" />
        <activity android:name=".FriendsActivity" />
        <activity android:name=".fragment.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".fragment.DetailActivity" />
    </application>

</manifest>